.cardBody {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.organismDiv h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}
