.animalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.cardBody {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
