.App {
  padding: 0 2rem 0;
}

.searchDiv {
  background-color: black;
  color: white;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 6rem;
  margin-bottom: 2rem;
}
