.cardDiv {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  position: relative;
}
.cardDeletBtn {
  color: black;
  background-color: rgba(255, 255, 255, 0.451);
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.2rem;
}
.cardImg {
  width: 100%;
  border-radius: 5px;
}

.cardLikeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.likeBtn,
.disLieeBtn {
  padding: 0.4rem 1rem;
  border: none;
  background-color: white;
  font-size: 1rem;
}
.loveBtn {
  color: rgba(255, 0, 0, 0.644);
  background-color: white;
  border: none;
  font-size: 2rem;
}
